body{
    font-family: 'Courier New', Courier, monospace;
}
div{
    width: 100%;
    height: 300px;
    text-align: center;
    color: orangered;
    
}
#KaanAcadamy{
    font-family: 'Times New Roman', Times, serif;
    background: url(img/kaan\ acadamy.jpg);
    background-size: 100% 300px;
}
.KaanAcadamyYazi{
    font-size: 20px;
    text-shadow: 0px 0px 1px black;
    background-color: lightgreen;
}
.kurslarimiz{
    float: left;
    width: 100%;
    height: 300px;
    font-weight: bold;

}
.kurslarimiz1{
    padding-top: 10px;
    float: left;
    width: 33.33%;
}
.kurslarimiz1:nth-child(1){
    background: url(img/bilgisayar.jpg) no-repeat;
    background-size: 100% 300px;

    
}
.kurslarimiz1:nth-child(2){
    background: url(img/kodlama.jpg) no-repeat;
    background-size: 100% 300px;


}

.kurslarimiz1:nth-child(3){
    background: url(img/tlf.jpg) no-repeat;
    background-size: 100% 300px;
}
.kurslarimiz1:nth-child(1) p{
    color: turquoise;
}
.kurslarimiz1:nth-child(2) p{
    color: green;
}
.kurslarimiz1:nth-child(3) p{
    color: purple;
}
#hakkimizda{
    color: black;
    clear: both;
    background-color: tomato;
    height: 330px;
}
#hakkimizda img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border: 5px black dashed;
}
#hakkimizda p{
    white-space: pre-line;
    text-transform: capitalize;
    font-size: 20px;
}
#hakkimizda p::first-line{
    font-weight: bold;
    text-decoration: underline;
    font-size: 30px;
    letter-spacing: 3px;
}
@media screen and (max-width:992px){
    .kurslarimiz1{
        width: 100%;
    }
    #hakkimizda{
        margin-top:900px;
        height: 400px;
    }
    #hakkimizda img{
        margin-top: 40px;
    }
}
